<p><%= t(:greeting, scope: [:user_mailer, :password_reset_email]) %> <%= @user.name %></p>

<p>
  <%= t(:first_line ,scope: [:user_mailer, :password_reset_email]) %><br>
  <%= link_to t(:password_reset ,scope: [:user_mailer, :password_reset_email, :action]), password_reset_url(password_reset_token: @user.password_reset_token) %>
</p>
