<% if @order.nil? || @order.line_items.empty? %>
 <h3 class="text-centre">Cart is Empty</h3>

<% else %>
  <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
    
    <div class="table-responsive ">
      <div class="panel panel-default">
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th></th>
              <th nowrap>TITLE</th>
              <th nowrap>QUANTITY</th>
              <th nowrap>PRICE</th>
              <th nowrap>DISCOUNTED PRICE</th>
            </tr>
          </thead>
          <tbody>
            <%= render @order.line_items %>
          </tbody>
        </table>

        <hr>
        <div>
          Total Order Amount: <%= number_to_currency(@order.total_amount) %>
        </div>
      </div>
    </div>

    <div>
      <%= link_to 'Empty Cart', order_url(@order), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
    </div>
    
  </div>
<% end %>
