development:
  secret_key_base: development_secret_key
  email_username: 'senders_mail@email.com'
  email_password: 'password'

test:
  secret_key_base: test_secret_key

production:
  secret_key_base: production_secret_key
