<%= form_with(url: confirmations_path, local: true ) do |form| %>
  <fieldset>
    <div class="form-group">
      <%= form.label :email, 'Email Address' %>
      <%= form.email_field :email, id: :user_email, class: 'form-control', placeholder: 'myemail@gmail.com' %>
    </div>

    <%= form.submit 'Send Confirmation Email', class: 'btn btn-primary' %>
  </fieldset>
<% end %>
