.login-page {
  width: 500px; 
  margin: 2rem auto 2rem;
  
  .login-form {
    padding: 2rem 2rem;

    .btn {
      width: 400px;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translate(-50%);
    }
  }

  .create-account {
    margin-top: -1rem;
    padding: 1rem 2rem;
    text-align: center;
    
    .btn {
      width: 400px;
    }
  }

}
